.Blog {
    margin: 50px 0;

    .blogCard {
        border-radius: 10px;
    }

    .top {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h2 {
            text-transform: capitalize;
            font-size: calc(2rem + 1vw);
        }

        .container {
            max-height: 20px;

            .btn-group {
                margin-right: 20px;
                display: flex;

                input {
                    border: 1px solid #008066;
                    border-radius: 10px 0 0 10px;
                    outline: none;
                    background: none;
                    padding: 10px;
                    border-right: none;
                }

                button {
                    border: 1px solid #008066;
                    border-radius: 0 10px 10px 0;
                    color: #008066;
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        background: #008066;
                        color: white;
                        box-shadow: 0px 0px 10px #03fac9;
                    }
                }
            }

            select {
                padding: 5px 10px;
                text-transform: capitalize;
                border-radius: 10px;
                cursor: pointer;
            }

        }


    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        margin: 20px auto;
    }

    .Bottom {
        margin: 50px auto;
        width: 150px;
        text-align: center;

        h3 {
            text-transform: capitalize;
            color: #008066;
        }

        .icon {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            a {
                color: #008066;
                text-decoration: none;
                border: 1px solid #008066;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;


                &:hover {
                    color: white;
                    border: 2px solid white;
                    background: linear-gradient(30deg, #008066, #03fac9);
                    box-shadow: 0px 0px 10px #03fac9;
                }
            }
        }
    }
}


// blog details start here

.blogDetails {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px 0;

    .left {
        width: 70%;
        background: #e6e6e6;
        padding: 0 20px;
        border-radius: 10px;

        h3 {
            font-size: calc(1.2rem + .5vw);
            text-transform: capitalize;
        }

        .image {
            height: 300px;
            width: 400px;
            margin: 20px auto;

            img {
                height: 90%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .imgFooter {
                display: flex;
                align-items: center;

                p {
                    color: rgb(145, 145, 145);
                    font-size: .8rem;
                    padding: 5px;
                    background: white;
                    border-radius: 5px;
                    margin: 0 10px;
                }
            }
        }

        .content {
            text-align: center;

            p {
                color: rgb(54, 54, 54);
                margin: 10px 0;
                font-size: .9rem;
            }

            h4 {
                margin-left: 50px;
                padding: 20px 0;
                padding-left: 50px;
                border-left: 5px solid yellow;
                background: rgb(245, 245, 178);
                color: rgb(8, 8, 6);
                text-align: left;
            }
        }

        .share {
            width: 300px;
            margin-left: auto;
            display: flex;
            align-items: center;
            margin-top: 20px;

            .icons {
                display: flex;
                align-items: center;
                margin-left: 20px;

                svg {
                    margin-right: 20px;
                    font-size: calc(1rem + .5vw);
                    cursor: pointer;

                    &:hover {
                        color: darkcyan;
                    }
                }
            }
        }

        .comments {
            margin-top: 30px;

            h3 {
                margin-bottom: 20px;
            }

            .comment {
                margin: 20px 0;

                .wraper {

                    .fComment,
                    .reply {
                        display: flex;
                        align-items: center;

                        .img {

                            border: 2px solid rgb(26, 24, 24);
                            background: rgb(51, 50, 50);
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            max-width: 200px;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                            }

                            svg {
                                font-size: 2rem;
                            }
                        }

                        .container {
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            overflow: hidden;
                            margin-left: 5px;
                        }



                        strong {
                            margin-right: 5px;
                            font-size: calc(1rem + .5vw);
                            text-transform: capitalize;
                        }

                        p {
                            color: rgb(24, 24, 24);

                        }

                    }

                    .fComment {
                        .img {
                            min-height: 50px;
                            min-width: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }

                    .replies {
                        padding-left: 30px;

                        .reply {
                            margin: 10px 0;
                        }

                        .img {
                            min-height: 30px;
                            min-width: 30px;
                            height: 30px;
                            width: 30px;
                        }

                        strong {
                            font-size: 1rem;
                        }

                        p {
                            font-size: .8rem;
                        }
                    }
                }

                .Reply {
                    padding-left: 30px;

                    .btn-group {

                        input {
                            padding: 5px;
                            border: 1px solid black;
                            border-right: none;
                            border-radius: 20px 0 0 20px;
                            outline: none;

                        }

                        button {
                            padding: 5px;
                            border: 1px solid black;
                            border-radius: 0 10px 10px 0;
                        }
                    }
                }
            }



        }

        .dmmy {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, 0.366);
            transition-delay: .3s;
        }

        .dmmy-s {
            left: 0;
        }

        .modal {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -3;
            opacity: 0;
            transition: .3s linear;
            background: white;

            .wraper {
                position: relative;
                padding: 50px 30px;
                display: block;

                svg {
                    position: absolute;
                    right: 10px;
                    top: 10px;

                }

                input {
                    margin-bottom: 20px;
                    padding: 5px;
                    border-radius: 10px;
                    outline: none;
                }

                button {
                    border: 1px solid black;
                    padding: 5px 10px;
                    border-radius: 10px;
                    margin: 0 auto;

                }
            }
        }

        .modal-s {
            z-index: 5;
            opacity: 1;
            transition: .3s linear;
        }


        .commentInput {
            margin: 20px 0;
            display: block;

            .inputs {
                .inputGroup {
                    input {
                        margin: 10px;
                        padding: 10px;
                    }
                }

                textarea {
                    margin: 10px;
                    height: 150px;
                    padding: 10px;
                }
            }

            button {
                padding: 10px 15px;
                border: 1px solid black;
                text-transform: capitalize;
                margin-left: 10px;
            }
        }


    }

    .rblog {
        padding-bottom: 50px;

        h3 {
            text-transform: capitalize;
            text-align: center;
        }

        .wraper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;

            .blogCard {
                background: white;

                .image {
                    height: 150px;
                    width: 100%;
                    margin:0;

                    img {
                        height: 100%; 
                        
                    }
                }

                .content {
                    h3 {
                        font-size: .8rem;
                        margin: 5px 0;
                    }

                    p {
                        font-size: .7rem;
                        margin: 0;
                    }
                }

                .bottom {
                    margin: 10px;
                    font-size: .7rem;

                    .right {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .Right {
        display: block;
        width: 25%;
        background: #e6e6e6;
        padding: 20px 10px;
        border-radius: 10px;

        h4 {
            text-transform: capitalize;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .searchbar {
            display: flex;
            justify-content: center;
            width: unset;
            margin: 10px auto;

            input,
            button {
                padding: 5px;
            }

            input {
                border-radius: 10px 0 0 10px;
                outline: none;
                border-right: none;
            }

            button {
                border: 1px solid black;
                border-radius: 0 10px 10px 0;
            }
        }

        .categories {
            text-transform: capitalize;
            margin: 20px auto;

            h4 {
                margin: 10px 0;
            }

            .category {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                border-top: 1px solid #bfbfbf;
                cursor: pointer;

                &:nth-last-child(1) {
                    border-bottom: 1px solid #bfbfbf
                }
            }
        }

        .recentNews {

            .wraper {
                .blogCard {
                    background: white;
                    width: 100%;

                    a {
                        display: flex;
                        align-items: center;

                    }

                    .image {
                        min-width: 50px;
                        width: 50px;
                        height: 50px;
                        margin-left: 10px;
                    }

                    .content {
                        max-height: 150px;
                        overflow: hidden;

                        h3 {
                            font-size: .7rem;
                            margin: 5px auto;

                        }

                        p {
                            font-size: .6rem;
                        }
                    }

                    .bottom {
                        display: none;
                    }
                }
            }
        }

        .tags {
            .wraper {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                p {
                    border: 1px solid black;
                    color: black;
                    padding: 5px;
                    margin: 5px;
                    font-size: .7rem;
                    border-radius: 10px;
                }
            }
        }
    }
}

// blog details end here



@media only screen and (max-width:1000px) {
    .Blog {

        .wrapper,
        .top {
            width: 90%;
        }
    }
}

@media only screen and (max-width:900px) {
    .blogDetails {
        .left {
            width: 90%;
        }

        .Right {
            display: none;
        }
    }
}

@media only screen and (max-width:768px) {
    .Blog {
        .top {
            display: block;
            text-align: center;
            width: 100%;

            h2 {
                margin-bottom: 20px;
            }
        }

        .wrapper {
            width: 100%;
        }
    }

    .blogDetails {
        .left {
            width: 100%;

            .rblog .wraper {
                .blogCard {
                    width: 45%;
                }
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .Blog .top .container {
        .btn-group {
            width: 50%;

            input {
                width: 70%;
                padding: 0 5px;
            }

            button {
                width: 30%;
                padding: 5px;
            }


            overflow: hidden;
        }
    }

    .blogDetails {
        padding: 0;
        margin: 0;

        .left {
            .image {
                width: 100%;
            }

            .content h4 {
                margin-left: 20px;
            }

            .commentInput {
                .inputs {

                    input,
                    textarea {
                        width: 100%;
                        margin: 10px 0 !important;
                    }
                }
            }
        }
    }


}