.pricing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.pricing .container .membership {
  text-align: center;
  width: 300px;
  padding: 30px;
  border: 2px solid #008066;
  cursor: pointer;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  margin: 10px 0;
}

.pricing .container .membership h3 {
  font-size: calc(1.3rem + .5vw);
  text-transform: capitalize;
}

.pricing .container .membership h4 {
  font-size: calc(1.5rem + 1vw);
  margin: 20px 0;
  color: #008066;
}

.pricing .container .membership h4 sub,
.pricing .container .membership h4 sup {
  font-size: 1rem;
}

.pricing .container .membership p {
  color: #151515;
  line-height: 2rem;
}

.pricing .container .membership button {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #008066;
  color: #008066;
  padding: 10px 15px;
  border-radius: 50%;
}

.pricing .container .membership button:hover {
  border: 1px solid white;
  background: #03fac9;
  color: white;
  -webkit-box-shadow: 0 0 15px #03fac9;
          box-shadow: 0 0 15px #03fac9;
}

.pricing .container .wraper .membership {
  width: 28%;
}

.pricing .or {
  border-top: 1px solid black;
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.pricing .or h2 {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px 10px;
  background: white;
}

.manualPricing .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.manualPricing .container .left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manualPricing .container .left .top p {
  margin-right: 20px;
  font-size: calc(1.3rem + .5vw);
  text-transform: capitalize;
}

.manualPricing .container .left .top select {
  padding: 5px;
}

.manualPricing .container .left ul {
  margin-top: 20px;
}

.manualPricing .container .left ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
}

.manualPricing .container .left ul li input {
  margin-right: 5px;
}

.manualPricing .container .membership {
  margin: 10px 30px;
  position: relative;
}

.manualPricing .container .membership .discount {
  position: absolute;
  right: -25px;
  top: -25px;
  height: 50px;
  width: 50px;
  background: #e60099;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-clip-path: polygon(50% 0, 62.5% 12.5%, 75% 6.25%, 75% 25%, 93.75% 25%, 87% 37.5%, 100% 50%, 87% 62.5%, 93.75% 75%, 75% 75%, 75% 93.75%, 62.5% 87.5%, 50% 100%, 37.5% 87.5%, 25% 93.75%, 25% 75%, 6.25% 75%, 13% 62.5%, 0% 50%, 13% 37.5%, 6.25% 25%, 25% 25%, 25% 6.25%, 37.5% 13%);
          clip-path: polygon(50% 0, 62.5% 12.5%, 75% 6.25%, 75% 25%, 93.75% 25%, 87% 37.5%, 100% 50%, 87% 62.5%, 93.75% 75%, 75% 75%, 75% 93.75%, 62.5% 87.5%, 50% 100%, 37.5% 87.5%, 25% 93.75%, 25% 75%, 6.25% 75%, 13% 62.5%, 0% 50%, 13% 37.5%, 6.25% 25%, 25% 25%, 25% 6.25%, 37.5% 13%);
}

@media only screen and (max-width: 1200px) {
  .pricing .container {
    width: 90%;
  }
}

@media only screen and (max-width: 992px) {
  .pricing .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .pricing .active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border: 1px solid white !important;
    background: #008066;
    -webkit-box-shadow: 0 0 15px black;
            box-shadow: 0 0 15px black;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .pricing .active h3,
  .pricing .active h4,
  .pricing .active p,
  .pricing .active button {
    color: white !important;
  }
  .pricing .active button {
    border: 1px solid white !important;
  }
}

@media only screen and (max-width: 768px) {
  .pricing .container {
    margin-top: 20px;
  }
  .pricing .container .wraper {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .pricing .container .membership {
    width: 300px;
    margin: 10px 0;
  }
}
/*# sourceMappingURL=pricing.css.map */