// services 1 section start here

.services1 {
    background:white;
    .container {
        .card {
            &:hover {
                background: linear-gradient(#ff66b3, #008066);
                transform: translateY(-20px);
                transition: .3s linear;

                svg,
                h3,
                p {
                    color: white !important;
                }

                .link {
                    border: 1px solid white;
                }
            }
        }
    }
}

// services 1 section end here


//  services2 section start here

.services2 {
    .container {
        .card {
            cursor: pointer;
            position: relative;
            z-index: 2;
            height: 250px;
            background: #ebfafa ;

         .link{
             display:none;
         }

            .icons {
                display: block !important;

                svg {
                    position: absolute;
                    z-index: 0;
                    opacity: .4;
                    transition: .3s linear;

                    &:nth-child(1) {
                        top: 70%;
                        left: 5%;
                        transform: rotate(60deg);

                    }



                    &:nth-child(2) {
                        top: 40%;
                        right: -5%;
                        transform: rotate(-60deg);
                    }

                    &:nth-child(3) {
                        top: 35%;
                        left: 40%;
                        color: #00e6e6;
                        transform: rotate(90deg)
                    }


                    &:nth-child(4) {
                        top: 10%;
                        left: -5%;
                        color: #ff0066;
                    }

                    &:nth-child(5) {
                        bottom: -15%;
                        right: 10%;
                        color: #6600ff
                    }
                }
            }


            &:hover .icons svg {
                transition: .3s linear;
                transform: rotate(0deg);


                &:nth-child(1) {
                    top: 60%;
                    left: 10%;
                    color: #ff1a8c;

                }

                &:nth-child(2) {
                    top: 60%;
                    right: 5%;


                }




                &:nth-child(4) {
                    top: 12%;
                    left: 50%;
                    transform: translateX(-50%) scale(1.4);
                    color: #008066;
                    opacity: 1 !important;

                }

                &:nth-child(5) {
                    bottom: 0;
                    transform: rotate(190deg);
                    left: 50%;
                }

            }

            .wrapper {
                position: absolute;
                left: 0;

                height: 100%;
                width: 100%;
                z-index: 2;
            }
        }
    }
}

//  services2 section end here

// services3 section start here

.services3 {
    .container {
        .card {
            background: linear-gradient(30deg, #03fac9, transparent) ;

            box-shadow: none !important;

            &:hover {
                background: linear-gradient(30deg, pink, transparent) ;
            }


        }
    }
}

// services3 section end here


// service details start here

.serviceDetails {
    section {
        padding: 10px;
        overflow:auto;
        display:flex;
        align-items: center;
        justify-content: space-around;

        .image {
            height: 300px;
            width: 30%;
            margin-right: 20px;

          
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;

            }
        }
        
        .content {
            text-align: left;
            width:65%;
            float: right;
            h2 {
                text-transform: capitalize;

            }


            p {
                margin: 20px 0;
            }

            ul {
                margin-top:10px;
                margin-left: 30px;
            }
        }
        &:nth-child(2n){
            flex-direction: row-reverse;
        }
    }

}

// service details end here


@media only screen and (max-width:1000px) {
    .serviceDetails {
        section {
            display:block;
            padding:10px 0;
            width:100%;
            .image {
                width: 300px;
                height:200px;
                margin:0 auto;

            }

            .content {
                width: 100%;
                h2{
                    margin-top:10px;
                }
                p{margin:10px auto;}
            }
        }
    }
}
@media only screen and (max-width:500px) {
    .serviceDetails section .content h2{text-align:center;}
}