.about {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
        padding-bottom: 100px;
        background: linear-gradient(30deg, #00806658, #e6009961);
        z-index: 1;

        .left {
            width: 55%;

            h2 {
                text-transform: capitalize;
                margin-bottom: 20px;
                font-size: calc(2rem + 2vw);
                color: #e60099;
            }


            p {
                line-height: 1.3rem;

            }
        }

        .right {
            width: 40%;
            min-width: 400px;
            overflow: hidden;

            .image {
                width: 100%;
                height: 50vh;
            }
        }
    }

    .container {
        background: #00806658;
    }

    .wraper {
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
        padding-bottom: 30px;
        position: relative;
        top: -60px;

        .Card {

            border-radius: 10px;
            padding: 30px 20px;
            background: linear-gradient(30deg, #00ffff, white);
            width: 400px;
            margin: 10px;
            box-shadow: 0px 0px 20px #333333;

        }

        h2 {
            text-transform: capitalize;
            font-size: calc(1.5rem + 1vw);
            color: #008066;
        }

        p {
            font-size: .9rem;
            line-height: 1.3rem;
            color: #202124;

            margin: 10px 0;
        }
    }
}

@media only screen and (max-width:768px) {
    .about {
        .top {
            .left {
                width: 100%;
            }
            .right{
                display:none;
            }
           
        }
    }
}

@media only screen and (max-width:500px) {
    .about .container .wraper .Card {
        width: 100%;
    }
}