* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin flex($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}



.navbar {
    @include flex(space-between);
    padding: 0 20px;
    width: 100%;
    height: 15vh;
    z-index: 999;
    position:absolute;

    svg {
        cursor: pointer;
    }

    .dumb {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 0%;
        background: rgba(0, 0, 0, 0.22);
        transition: 0s;
        transition-delay: .3s;
        z-index: 2;
    }

    .dumb-open {
        width: 100%;
        transition: .1s linear;
    }

    a {
        text-decoration: none;
        color: black;

    }

    .brand-name {
        text-transform: uppercase;
        font-size: calc(1.5 + 1vw);

        a {
            h1 {
                font-family: 'Bree Serif', serif;
            }

        }
    }

    .min-nav {
        list-style: none;
        @include flex(space-between);
        text-transform: capitalize;
        z-index: 3;

        span {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0%;
            height: 3px;
            background: #00ffcc;
            border-radius: 5px;

            transition: .3s linear;
        }

        li {
            padding: 10px 15px;
            position: relative;

            a {

                p {
                    cursor: pointer;
                    font-weight: 800;

                }
            }
        }

        .name {
            font-weight: 800;
            cursor: pointer;
            position: relative;
            @include flex(space-between);

            svg {
                color: rgba(0, 0, 0, .8);
                margin-left: 5px;
                font-size: .8rem;
            }




        }

        .dropdown-menu {






            .dropdown-container {
                position: absolute;
                top: 100%;
                left: -20%;
                border-radius: 10px;
                display: none;
                background: #404040;
                width: 150px;
                overflow:hidden;

                a {
                    display: block;
                    color: white;
                    cursor: pointer;
                    padding: 10px 20px;


                    &:hover {
                        background: #009999;
                    }
                }
            }
        }

        .title {
            display: none;
        }
    }

    .menu {
        display: none;
    }
}

.nav-dark{
    .menu{
        color:white;
    }
    
    a{
        color:white;
    }
   .dropdown-menu .name{
      color:white;
      svg{
          color:white;
      }
   }
}
.nav-show{
    position:fixed;
    top:0;
    transition: .3s linear;
    background: black;
    height:10vh;
    .menu{
        color:white;
    }
    
    a{
        color:white;
    }
   .dropdown-menu .name{
      color:white;
      svg{
          color:white;
      }
   }
}

@media only screen and(min-width:900px) {
    .navbar .min-nav {
        .dropdown-menu:hover .dropdown-container {
            display: block;
        }

        li:hover span {
            width: 100%;
        }

    }

}

@media only screen and(max-width:900px) {
    .navbar {
        height: 10vh;

        .min-nav {
            position: fixed;
            left: -100%;
            top: 0;
            width: 300px;
            background: black;
            color: white;
            display: block;
            height: 100vh;
            transition: .3s linear;

            .title {
                @include flex(space-between);
                margin-bottom: 20px;
                margin-top: 10px;

                a {
                    color: white;
                    font-size: 1.5rem;
                }

                svg {
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }

            a {
                color: rgba(255, 255, 255, 0.8);
                font-weight: unset;
            }

            .dropdown-menu {
                position: unset;

                .name {
                    color: rgba(255, 255, 255, 0.8);

                    svg {
                        color: rgba(255, 255, 255, 0.8)
                    }
                }

                .dropdown-container {
                    position: unset;

                    a:hover {
                        background: black;

                    }
                }

                .dropdown-container-open {
                    display: block;
                    border-radius: unset;
                    background: rgb(5, 5, 5);
                    width: 100%;

                    a {
                        color: rgba(255, 255, 255, 0.8);

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .min-nav-open {
            left: 0;
            transition: .3s linear;
        }

        .menu {
            display: block;
            font-size: 1.5rem;
        }
    }
}

@media only screen and(max-width:768px) {

    .navbar{
        .brand-name a{
            color:white;
        }
        
    }
    .menu{
        color:white;
    }
}