.dark_mode {

    p,
    ul {
        color: rgba(255, 255, 255, 0.8);
    }

    $base-color:#202124;
    @mixin btn {
        background: #1a1a1a;
        border: 1px solid white !important;
        color: white !important;
    }

    .TopSection {
        background: #1b1c1f !important;
    }

    input,
    textarea {
        background: #1a1a1a;
        color: white;
        border: 1px solid white !important;
    }

    p {
        color: rgba(255, 255, 255, 0.8) !important;
    }

    h2,
    h3,
    h4 {
        color: white !important;
    }
    .section,
    .services,
    .Blog,

    .Right {
        background: $base-color !important;
        padding: 50px;
        margin: 0;


        .card,
        .blogCard {
            background: #0d0d0d !important;


        }

        table th {
            color: rgba(255, 255, 255, 0.8);
        }
.btns {
    button {
        background: #1b1c1f;
        color: white;
        border: 1px solid white !important;
    }
}

.btn {

    a,
    button {
        background: #1b1c1f;
        color: white;
        border: 1px solid white;
    }
}

.wrapper {
    .blogCard {

        .bottom,
        svg {
            color: white;
        }
    }
}
    }


    .main {
        background: $base-color;

        &::after {
            background: #1a1a1a;
        }

        &::before {
            background: #0d0d0d;
        }

    }


    .information {
        .right {
            border-radius: 10px;

           .paragraph {
                background: #1a1a1a !important;
                }

                table {
                    color: white;
                }
                }
                }

                .information .wrapper .left .btns::after {
                    @include btn;
                }

                .information .wrapper .left .btns button {
    background: #1a1a1a;
    }

.information .wrapper .left .submit button,
.main .wrapper button a,
.pricing .container .membership button,
.manualPricing .container .left .top select {
    @include btn;
}

.subscribe .wrapper .btn_group {
    @include btn;

    input {
        border: none !important;
    }
}

.portfolio {
    background: $base-color;

    h2,
    h4 {
        color: white;
    }

    .bottom p {
        @include btn
    }
}

.carousel {
    .top {
        color: white;

    }

}

.carousel .controler .bottom button {
    @include btn;

    &:hover svg,
    svg {
        color: white;
    }
}

.Blog .top .container .btn-group {

    button,
    input {
        @include btn;
        border-right: none !important;
    }
}

.Blog .top .container select {
    @include btn;
    outline: none;
}

.carousel .controler .bottom .pages {
    color: white;

    .active {
        @include btn;
    }
}

.btn-group {

    input,
    button {
        @include btn;
    }

    input {
        border-right: none;
    }
}

.blogDetails {
    background: #0d0d0d;

    .left {

        .content h4 {
            background: #0d0d0d;
            color: white;
        }
    }

}

.blogDetails .left,
.pricing .or h2 {
    background: $base-color;

}

.blogDetails .Right .tags .wraper p {
    @include btn;
}

.blogDetails .Right .searchbar {

    input,
    button {
        @include btn;
    }
}

.blogDetails .left .share .icons {
    svg {
        color: white;
    }
}

.blogDetails .left .comments .comment .wraper .fComment .img {
    border: 1px solid white;
}

.blogDetails .left .commentInput button ,.Error .container .wrapper button a{
    @include btn;
}

.blogDetails .left .image .imgFooter p {
    @include btn;
}

.blogDetails .rblog .wraper .blogCard {
    background: #0d0d0d;
}

.blogCard .bottom .right p,
.blogCard .bottom {
    color: white;

    a svg {
        color: white;
    }
}
.services2 .container .card {
    background: #0d0d0d;
}

.about .top,.Error .container .wrapper {
    background: $base-color;

}

.about .wraper .Card,
.quote .wraper {
    background: #0d0d0d;
}

.about .container,
.main .left {
    background: $base-color;
}

.quote .wraper span {
    color: rgb(228, 223, 223);
}

.contact {
    background: $base-color;

    div {
        background: #0d0d0d;
    }
}
}

// color{
//     #0d0d0d
//     #1a1a1a
//     #262626
//     333333
//     404040
//     4d4d4d
// }